<% line_item.each_with_index do |li, index| %>
  <% if index == 0 && line_item == @current_item %>
  <tr id="current_item">
  <% else %>
  <tr>
  <% end %>
  <td><%= li.quantity %>&times;</td>
    <td><%= li.product.title %></td>
    <td class="item_price"><%= number_to_currency(li.total_price) %></td>
  </tr>
<% end %>
