<%= turbo_stream.update "cart" do %>
  <% if @cart %>
    <%= render @cart %>
  <% end %>
<% end %>


<%= turbo_stream.replace "notice" do %>
  <p id="notice" style="display: none"><%= notice %></p>
<% end %>
